@plix: 40px;
@border_color: #aaa;
.print-container {
  text-align: center;
  width: 1000px;
  font-size: 14px;
}
.form{
  padding-top: 40px;
}
.form-title{
  text-align: right;
  padding: 20px 0 10px;
  .title{
    margin: 0;
    text-align: center;
    font-size: 36px;
    line-height: 1;
  }
  .time{
    font-size: 12px;
  }
}
.line {
  height: 2px;
  background-color: @border_color;
  &.line-min{
    height: 1px;
  }
}
.msg{
  padding: 2px 0;
}
.msg-line{
  padding: 4px 0;
  &>div {
    text-align: left;
    display: inline-block;
    div{
      display: inline-block;
      width: calc(100% - 100px);
    }
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }
}
.table{
  position: relative;
}
.desc-right{
  width: 20px;
  position: absolute;
  top: 0;
  right: -20px;
  p{
    writing-mode: vertical-lr;
    margin: 6px 0;
  }
}
.table-list{
  border-bottom: 1px solid @border_color;
  display: flex;
  align-items: stretch;
  &>div{
    min-height: 100%;
    box-sizing: border-box;
    padding: 6px 2px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-content: center;
    word-break: break-all;
    border-right: 1px solid @border_color;
    input {
      width: 100%;
      height: 100%;
      border: none;
      text-align: center;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    &:first-child{
      border-left: 1px solid @border_color;
    }
    &:nth-of-type(1) {
      min-width: @plix;
    }
    &:nth-of-type(2) {
      min-width: @plix * 2.3;
    }
    &:nth-of-type(3) {
      min-width: @plix * 5;
    }
    &:nth-of-type(4) {
      min-width: @plix * 3;
    }
    &:nth-of-type(5) {
      min-width: @plix * 3;
    }
    &:nth-of-type(6) {
      min-width: @plix * 2;
    }
    &:nth-of-type(7) {
      min-width: @plix * 1.5;
    }
    &:nth-of-type(8) {
      min-width: @plix * 1.5;
    }
    &:nth-of-type(9) {
      min-width: @plix * 1.4;
    }
    &:nth-of-type(10) {
      min-width: @plix * 2;
    }
    &:nth-of-type(11) {
      min-width: @plix * 2.3;
    }
  }
  &.table-title{
    border-top: 1px solid @border_color;
    border-bottom: 1px solid @border_color;
    div {
      border-top: none;
      border-right: 1px solid @border_color;
      &:first-child{
        border-left: 1px solid @border_color;
      }
    }
  }
  &.table-sum1 {
    border-bottom: 1.5px solid @border_color;
    div{
      &:nth-of-type(1) {
        min-width: @plix * 16.3;
        justify-content: flex-end;
      }
      &:nth-of-type(2) {
        min-width: @plix * 1.5;
      }
      &:nth-of-type(3) {
        min-width: @plix * 1.5;
      }
      &:nth-of-type(4) {
        min-width: @plix * 1.4;
      }
      &:nth-of-type(5) {
        min-width: @plix * 2;
      }
      &:nth-of-type(6) {
        min-width: @plix * 2.3;
      }
    }
    
  }
  &.table-sum2 {
    div{
      &:nth-of-type(1) {
        min-width: @plix * 3.3;
        justify-content: flex-end;
      }
      &:nth-of-type(2) {
        min-width: @plix * 9.2;
        border-right: none;
        justify-content: flex-start;
      }
      &:nth-of-type(3) {
        min-width: @plix * 8.2;
        justify-content: flex-end;
      }
      &:nth-of-type(4) {
        min-width: @plix * 2;
      }
      &:nth-of-type(5) {
        min-width: @plix * 2.3;
      }
    }
  }
  &.table-sum3 {
    justify-content: space-around;
    border-left: 1px solid @border_color;
    border-right: 1px solid @border_color;
    &>div{
      align-items: center;
      border-right: none;
      min-width: @plix * 5;
      div{
        display: inline-block;
        width: calc(100% - 90px);
        text-align: left;
      }
      &:nth-of-type(1){
        border-left: none;
      }
    }
  }
  &.table-sum4{
    border-left: 1px solid @border_color;
    border-right: 1px solid @border_color;
    div{
      border: none;
      min-width: none;
      padding-left: 20px;
    }
  }
}

.form-summary{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    padding-top: 4px;
    padding-bottom: 30px;
    &>div{
      margin-right: 40px;
    }
}
.form-cpyt{
  display: flex;
  justify-content: space-around;
  margin-bottom: 6px;
  &>div{
    min-width: 25%;
    text-align: left;
    div{
      display: inline-block;
      width: calc(100% - 100px);
    }
  }
}
