@plix: 40px;
.print-container {
  text-align: center;
  width: 1000px;
  font-size: 14px;
}
.line {
  height: 6px;
  background-color: #999;
}
.msg-line{
  div {
    text-align: left;
    display: inline-block;
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }
}

.table-list{
  border-bottom: 1px solid #aaa;
  &>div{
    height: 100%;
    box-sizing: border-box;
    padding: 4px 2px;
    display: inline-block;
    border-right: 1px solid #aaa;
    &:first-child{
      border-left: 1px solid #aaa;
    }
    &:nth-of-type(1) {
      width: @plix;
    }
    &:nth-of-type(2) {
      width: @plix * 2.3;
    }
    &:nth-of-type(3) {
      width: @plix * 5;
    }
    &:nth-of-type(4) {
      width: @plix * 3;
    }
    &:nth-of-type(5) {
      width: @plix * 3;
    }
    &:nth-of-type(6) {
      width: @plix * 2;
    }
    &:nth-of-type(7) {
      width: @plix * 1.5;
    }
    &:nth-of-type(8) {
      width: @plix * 1.5;
    }
    &:nth-of-type(9) {
      width: @plix * 1.2;
    }
    &:nth-of-type(10) {
      width: @plix * 2;
    }
    &:nth-of-type(11) {
      width: @plix * 2.5;
    }
  }
  &.tabel-title{
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    div {
      border-top: none;
      border-right: 1px solid #aaa;
      &:first-child{
        border-left: 1px solid #aaa;
      }
    }
  }

  &.table-sum1 {
    div{
      &:nth-of-type(1) {
        width: @plix * 3.3;
      }
      &:nth-of-type(2) {
        width: @plix * 8;
      }
      &:nth-of-type(3) {
        width: @plix * 5;
      }
      &:nth-of-type(4) {
        width: @plix * 3;
      }
    }
    
  }
}
